@import url("reset.css");

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 26px;
	font-weight: 200;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 34px;
    font-weight: 600;
}
b{
    font-weight: bold;
}
a {
    color: #788ba4;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
div.background {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: rgb(119,97,64);
    background: linear-gradient(40deg, rgba(119,97,64,1) 0%, rgba(232,237,233,1) 50%, rgba(83,99,127,1) 100%);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 0;
}
div.site {
	position: relative;
	width: calc(100% - 80px);
	overflow: hidden;
	max-width: 1200px;
	margin: auto;
    padding: 60px 40px 100px;
    z-index: 1;
}
#profileInfo {
    position: relative;
    display: flex;
    background: #fff;
    border-radius: 10px;
    padding: 35px 50px;
    margin-bottom: 20px;
}
#profileInfo .proimg {
    flex: 1;
    display: block;
    overflow: hidden;
    margin-right: 3%;
}
#profileInfo .proimg img {
    display: block;
    width: 100%;
    border-radius: 50%;
}
#profileInfo .procontent {
    flex: 3;
    overflow: auto;
    padding-top: 40px;
}
#profileInfo .procontent h1 {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}
#profileInfo .procontent .proinfo b , #profileInfo .procontent .procontact b {
    display: block;
}
#profileInfo .procontent .proinfo {
    color: #555;
    width: 68%;
    float: left;
}
#profileInfo .procontent .procontact {
    color: #555;
    float: right;
    width: 30%;
}

#album {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
#album .photoBox {
    width: calc(33.3333% - 20px);
    margin: 10px;
    overflow: hidden;
    background: #fff;
    border-radius: 10px;
    padding-bottom: 20px;
}
#album .photoBox .title {
    position: relative;
    height: 195px;
    background-position: center center;
    background-size: cover;
    font-size: 20px;
    color: #fff;
    padding: 10px;
}
#album .photoBox .title span {
    position: absolute;
    display: block;
    bottom: 10px;
    font-weight: 400;
}
#album .photoBox .photoinfo {
    padding: 10px 20px;
    color: #555;
    font-weight: 200;
}
#album .photoBox .date {
    float: right;
    margin-right: 20px;
    color: #bcb5af;
    font-weight: 200;
}
#album .photoBox .featured {
    position: relative;
    padding-left: 20px;
    padding-top: 10px;
}
#album .photoBox .featured span {
  background-color: #f45947;
  display: inline-block;
  height: 20px;
  margin: 0 10px;
  position: relative;
  top: 0;
  transform: rotate(-45deg);
  width: 20px;
}

#album .photoBox .featured span::before,
#album .photoBox .featured span::after {
  content: "";
  background-color: #f45947;
  border-radius: 50%;
  height: 20px;
  position: absolute;
  width: 20px;
}

#album .photoBox .featured span::before {
  top: -12px;
  left: 0;
}

#album .photoBox .featured span::after {
  left: 12px;
  top: 0;
}

@media screen and (max-width: 1024px) {
    #profileInfo .procontent .proinfo , #profileInfo .procontent .procontact{
        width: 100%;
        float: none;
    }
    #profileInfo .procontent .procontact {
        margin-top: 20px;
    }
}
@media screen and (max-width: 834px) {
    #album .photoBox {
        width: calc(50% - 20px);
    }
}
@media screen and (max-width: 650px) {
    div.site {
        width: calc(100% - 20px);
        padding: 30px 10px 50px;
    }
    #profileInfo {
        padding: 20px;
    }
    #album .photoBox {
        width: calc(100% - 20px);
    }
}